* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(228, 247, 254);
  background-image: url(../images/fondo.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans MS","Verdana", "sans-serif ";
}
.menuCabecera {
  overflow: hidden;
  background-color: rgb(122, 176, 226);
  padding: 5px 0 0 0;
  position: relative;
}
.menuCabecera-right {
  width: 100%;
  max-width: 250px;
  display: inline-block; 
  vertical-align: top; 
  text-align: right;
  position: absolute;
  right: 5px;
}
.menuCabecera-right a {
  color: rgb(27, 41, 88);
  text-align: center;
  text-decoration: none;
  margin-left: 10px;
  margin-right: 8px;
  font-size: 15pt;
  position: relative;
  right: 5px;
  animation-name: cabeceraRight;
  animation-duration: 1s;
  animation-delay: 1s;
}
.menuCabecera-right a:hover {
  border-bottom: 3px solid greenyellow;
  color: rgba(245, 247, 246,0.3); 
}
.menuCabecera-left {
  width: 100%;
  max-width: 150px;
  padding: 0;
  margin: auto;
  padding-right: 10px;
  display: inline-block;
}
.menuCabecera-left a {
  width: 100%;
  max-width: 35px;
  margin-left: 5px;
  display: inline-block;
  animation-name: cabeceraLeft;
  animation-duration: 2s; 
  animation-delay: 1s;
}
.menuCabecera-left a:hover {
  cursor: pointer;
  filter: drop-shadow(0px 3px 3px rgba(7, 7, 7, 0.9));
  filter: opacity(0.3);
}
@keyframes cabeceraLeft {
  from {opacity: 0;}
  to {opacity: 100%;}
}
@keyframes cabeceraRight {
  from {margin-right: -30%;}
  to {margin-right: 0%;}
}
#cabecera {
  width: 100%;
  position: fixed;
  padding: 0;
  z-index: 1;
  animation-name: cabecera;
  animation-duration: 1s;
}
@keyframes cabecera {
  from {margin-top: -30%;}
  to {margin-top: 0%;}
}
.header {
  width: 100%;
  padding: 0;
  margin: auto; 
  z-index: 10;   
} 
#menu img, #cabecera img{
  width: 100%;
}
.imgCabecera {
  position: relative;
  width: 100%;
  padding: 0;
  margin: auto;
}
#fondoCabecera img {
  border-bottom: 5px dotted rgba(122, 176, 226,0.7);
  box-shadow: 2px 2px 4px rgba(35, 36, 36, 0.4);
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
}
#bee1, #bee2, #ninoB, #ninoG, #ninoY{
  width: 100%;
  max-width: 5%;
  filter: drop-shadow(0px 3px 3px rgba(0,0,0,0.6));
  position: absolute;
  top: 0;
}
#bee1 {
  position: absolute;
  top: 0%;
  right: 31%;
  animation-name: bee1;
  animation-duration: 2s;
  animation-timing-function: ease;
}
#bee2{
  position: absolute;
  top: 20%;
  right: 17%;
  animation-name: bee2;
  animation-duration: 2s;
}
#ninoB {
  position: absolute;
  top: 3%;
  left: 20%;
  animation-name: ninoB;
  animation-duration: 1s;
}
#ninoG {
  position: absolute;
  top: 36%;
  left: 30%;
  animation-name: ninoG;
  animation-duration: 1s;
  animation-timing-function: ease;
}
#ninoY {
  position: absolute;
  top: 32%;
  left: 15%;
  animation-name: ninoY;
  animation-duration: 1s; 
}
#logoMagic {
  width: 100%;
  max-width: 12.5%;
  position: absolute;
  top: 0%;
  left: 43%;
  filter: drop-shadow(0px 2px 2px rgba(0,0,0,0.8));
  animation-name: logoMagic;
  animation-duration: 1s; 
  animation-delay: 1s;
}
@keyframes ninoY {
  0%   {top:-100px;}
  25%  {top:0px;}
  50%  {top:90px;}
  75%  {top:20px;}
  100% {top:0px;}
}
@keyframes ninoB {
  0%   {top:-100px;}
  25%  {top:0px;}
  50%  {top:90px;}
  75%  {top:-50px;}
  100% {top:0px;}
}
@keyframes ninoG {
  0%   {top: px;}
  25%  {top:80px;}
  50%  {top:0px;}
  75%  {top:80px;}
  100% {top:0px;}
}
@keyframes bee1 {
  0%   {left:-3000px; top: 30px;}
  100% {left:1208px; top: 0px;}
}
@keyframes bee2 {
  0%  {top:30px;}
  25% {top:20px;}
  50% {top:10px;}
  75% {top:30px;}
  100%{top:0px;}
}
@keyframes logoMagic {
  0%   {transform: rotate(0deg); width: 200%;}
  100% {transform: rotate(360deg);}
}
@media screen and (max-width: 500px) {
 
  .imgCabecera {
    width: 100%;
    min-width: 200%;
    position: relative;
    right: 52%;
  }
  .modal-content {
    width: 68%;
    position: relative;
    left: -8%;
  }
}
.main {
  width: 100%;
  max-width: 1000px;
  padding: 0;
  margin: auto; 
  padding-top: 300px;
  padding-bottom: 20px;
  text-align: center;
}
#paneles { 
  padding: 0;
  margin: auto;
  display: inline-block;
}
.panel1 {
  width: 100%;
  max-width: 380px;
  text-align: center;
  padding-top: 15px;
  margin-left: auto;
}
.panel1:hover, .panel2:hover {
  cursor: pointer;
  filter: drop-shadow(0px 5px 5px rgba(0,0,0,0.7));
  -webkit-transform: scale(1.05,1.05);
  -o-transform: scale(1.05,1.05);
  transform: scale(1.05,1.05);
}
.panel2 {
  width: 100%;
  max-width: 300px;
  padding: 0;
  margin: auto;
  display: inline-block;
  position: relative;
  left: -1%;
}
.panelPersonal{
  margin-left: 5%;
}
.panelServicios {
  margin-left: 2%;
}
.panelNovedades {
  margin-left: 2%;
}
/************ The Modal (background)*********** */
.modal, .modal2, .modal3, .modal4, .modal5 {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
  z-index: 30; /* Sit on top */
	padding-top: 0px; /* Location of the box */
	left: 0;
	top: 0;
  width: 100%; /* Full width */
	height: 100%;/* Full height */
	overflow: auto; /* Enable scroll if needed */
	background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
  text-align: center;
  }
.modal-content {
  padding: 0;
  margin: auto;
}
  /* The Close Button */
.close, .close2, .close3, .close4, .close5 {
  width: 100%;
  max-width: 400px;
  text-align: right;
  padding: 0;
  margin: auto;
  color: rgb(122, 176, 226);
  display: block;
	font-size: 50px;
	font-weight: bold;
	z-index: 10;
}
.close:hover,.close:focus,.close2:hover,.close2:focus,
.close3:hover,.close3:focus,.close4:hover,.close4:focus,
.close5:hover,.close5:focus {
	color: rgb(12, 167, 38);
	text-decoration: none;
	cursor: pointer;
}
#myBtn a, #myBtn2 a, #myBtn3 a, #myBtn4 a, #myBtn5 a { 
	width: 100%;
	padding: 0px 10px;
	background: rgb(231, 168, 74);
	color: rgb(243, 241, 241);
	border-radius: 20px 20px 20px 20px;
	cursor: pointer;
	box-shadow: 2px 2px 7px rgb(10, 10, 10)inset;
}
#myBtn a:hover, #myBtn2 a:hover, #myBtn3 a:hover, #myBtn4 a:hover, #myBtn5 a:hover {
	color: rgb(3, 3, 3);
  background-color: rgb(108, 159, 206);
}
#imagenModal {
  width: 100%;
  max-width: 400px;
  padding: 0;
  margin-left: 30px;
}
  /*********slider*****************************/
 /* Slideshow container */
.mySlides {display: none;}
.mySlides img {vertical-align: middle;}
.slideshow-container {
  max-width: 1000px;
  margin: auto;
}
.slideshow-container img {
  width: 100%;
  height: 80%;
  padding: 0;
  margin: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 2px 2px 5px black;
}
/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgba(187, 187, 187, 0);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active {
  background-color: rgb(108, 159, 206);;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-name: fade;
  animation-duration: 3s;
}
@-webkit-keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .5} 
  to {opacity: 1}
}
/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}
/*-------------formulario de contacto-----------*/
.main-formulario {
  width: 100%;
  max-width: 1000px;
  background-image: url(../images/fondoContacto.jpg);
  background-size: auto;
  padding-top: 300px;
  padding-bottom: 20px;
  margin: auto;  
}
.tituloContacto {
  color: rgb(99, 108, 136);
  font-family: "Verdana","Comic Sans MS", "sans-serif ";
  font-size: 47pt;
  text-align: center;
}
.DireccionContacto {
   width: 100%;
   max-width: 600px;
   margin: 0 5px;
   color: white;
   font-size: 12pt;
   text-align: center;
   display: inline-block;
   vertical-align: top;
 }
#formulario {
  width: 100%;
  max-width: 1000px;
  font-size: medium;
  text-align: center;
}
#formulario iframe {
  width: 100%;
  max-width: 600px;
  height: 400px;
  float: left;
  padding-left: 1%;
  position: relative;
  top: 32px;
  margin-bottom: 7%;
}
legend {
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px 5px black;
  font-size: x-large;
}
.contenedorContacto {
  width: 100%;
  max-width: 400px;
  border: none;
  font-size: medium;
  display: inline-block;
}
.contenedorContacto input {
  border: none;
  padding-left: 5px;
  font-family: "Comic Sans MS","Verdana", "sans-serif ";
}
#comentario, #datos {
  width: 100%;
  max-width: 380px;
  border: none;
  padding: 12px;
  margin-bottom: 5px;
  margin-top: 0px;
}
[placeholder], textarea {
  font-size: medium;
  background-color: rgba(255, 255, 255, 0.6);
  color:rgb(109, 108, 108);
  font-family: "Comic Sans MS","Verdana", "sans-serif ";
}
textarea {
  height: 190px;
}
#datos:valid {
  border: 2px solid greenyellow;
}
#enviar {
  width: 100%;
  max-width: 80px;
  background-color: rgba(30, 118, 153, 1);
  color: white;
  border-radius: 30px 30px;
  font-size: large;
  padding: 5px;
  margin: 1%;
}
#enviar:hover {
  background-color: rgba(8, 8, 8, 0.4);
  border-radius: 30px 30px;
  box-shadow: 2px 2px 5px rgba(8, 8, 8, 0.9) inset;
  color: greenyellow;
  cursor: pointer;
}
/*------------------------footer------------------------*/
footer {
  width: 100%;
  padding: 0;
  margin: auto;
}
.container-footer {
  width: 100%;
  background-color: rgb(46, 45, 45);
  padding-top: 10px;
  margin: auto;
  text-align: center;
}
.containerDireccion {
  max-width: 300px;
  margin: 0 5px;
  color: white;
  font-size: 12pt;
  text-align: center;
  display: inline-block;
  vertical-align: top;
}
.containerDireccion a, #footer-info a {
  color: rgb(122, 176, 226);
}
.containerDireccion a:hover, #footer-info a:hover{
  color: rgb(211, 133, 69);
}
#submarine img{
  width: 100%;
  max-width: 100px;
  margin: 10px ;
}
.etiquetasFooter, .fotosFooter {
  width: 100%;
  max-width: 620px;
  height: auto;
  display: inline-block;
  vertical-align: top;
}
.etiquetasFooter img, .fotosFooter img{
  width: 100%;
  max-width: 150px;
  display: inline-block;
}
#fotoLocal img{
  width: 100%;
  max-width: 400px;
  margin: auto;
	text-align: center;
}
#footer-info {
  width: 100%;
  background-color: rgb(39, 38, 38);
  color: white;
  text-align: center;
  padding: 10px;
}
#magicLand {
  color:red;
  font-weight: bold;
}


 