/* -------------------------------- CSS Reset -------------------------------- */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	border: 0;
}

/* -------------------------------- Específico -------------------------------- */
@font-face {
	font-family: jackieQuill;
	src: url("Jackie Quill - Personal Use.otf");
}

@font-face {
	font-family: myFirstFont;
	src: url("Chrome Slab Book Cover Cosmetic Hotel Serif Font.ttf");
}


body {
	min-width: 600px;
	/* max-width: 1000px; */
}

/* -------------------------------- Cabecera -------------------------------- */
header {
	width: 80%;
	margin: 20px auto;
	
	background-color: silver;
	border-radius: 25px;
}

h1 {
	padding: 20px;

	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	font-size: 48px;		
}

/* -------------------------------- Menú principal -------------------------------- */
nav {
	width: 80%;
	margin: 20px auto;

	background-color: silver;
	border-radius: 25px;	
}

nav ul {
	list-style: none;
	text-align: center;
	width: 100%;
	font-size: 0;
}

nav li {
	display: inline-block;
	min-width: 100px;
	width: 20%;
	border-right:1px solid black;
	position: relative;
}

nav li:first-child {
	border-left: 1px solid black;
}

nav a:link, nav a:visited {
	display: inline-block;
	padding: 15px;
	
	font-size: 18px;
	text-decoration: none;
	font-variant: small-caps;
	color: black;
	
	width: 100%;
	transition: 0.5s;
}

nav a:hover, nav a:active {
	transition: 0.5s;
	background-color:silver;
	color: red;
}

.desplegado {
	display: none;
	position: absolute;
	width: 100%;
	top: 50px;
	left: 0;
	background-color: silver;
	z-index: 10;
}

.desplegable:hover .desplegado{
	display: block;
	border: 1px solid black;
}

.desplegado a {
	border: 1px solid black;
}

/* -------------------------------- Contenido principal -------------------------------- */
main {
	width: 80%;
	min-height: 500px;
	margin: 20px auto;
	padding: 20px;

	background-color: silver;
	border-radius: 25px;

	overflow: hidden;
}

h2 {
	text-align: center;
	padding: 25px;
	font-family: jackieQuill, serif;
}

.foto {
	width: 100%;
	overflow: hidden;
}

main img {
	width: 100%;
	transition: 1s;
}

main img:hover {
	transform: scale(1.2, 1.2);
	transition: 1s;
}
/* -------------------------------- Pie de página -------------------------------- */
footer {
	width: 80%;
	height: 100px;
	margin: 20px auto;
	

	background-color: silver;
	border-radius: 25px;	
	
	text-align: center;

}

/* Iconos de redes sociales */
#f_izq {
	float: left;
	width: 30%;
	height: 100px;
	
	font-size: 35px;
}

#f_izq table {
	margin: auto;
}

#f_izq td {
	/* width: 50px; */
	padding: 5px 10px;
	transition: 0.5s;
}

#f_izq td:hover {
	transform: scale(1.3, 1.3);
	transition: 0.5s;
}

#f_izq a:link, #f_izq a:visited {
	color: black;
	transition: 0.5s;
} 

#f_izq a:hover, #f_izq a:active {
	color: red;
	transition: 0.5s;
	
} 

#f_izq i {

}

/* Copyright */
#f_cen {
	float: left;
	width: 40%;
	height: 100px;
	padding: 40px;
}

/* Mapa de Google */
#f_der {
	position: relative;
	float: left;
	width: 30%;
	height: 100px;
}

#f_der iframe {
	border-radius: 0 25px 25px 0;
}

#f_der #mapa {
	position: absolute;
	bottom: 0;
	right: 0;

	width: 0;
	height: 0;
	transition: 2s;
}

#f_der:hover #mapa {
	width: 600px;
	height: 600px;
	transition: 2s;
}